<!DOCTYPE html>
<html>
<head>
  <title>GoalsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    <p><%= current_user.username %></p>

    <form action="<%= session_url %>" method="POST" >
      <%= authenticity_token %>
      <%= delete_action %>
      <label>
        Sign Out
        <input type="submit" value="Sign Out" >
      </label>
    </form>
  <% end %>

  <% if flash[:errors] %>
    <p> <%= flash[:errors] %> </p>
  <% end %>

<%= yield %>

</body>
</html>
